table {
	border-collapse: collapse;
	border: #b2b2b2 1px solid;
	width: 50%;
}
th {
	border-collapse: collapse;
	border: #b2b2b2 1px solid;
	text-align: left;
	width: 50%; 
}
td{
	text-align: left;
	width: 50%; 
}


